body { background-image: url(Fondo.jpg); background-repeat: no-repeat;
    background-size: cover; width: 60%; margin: auto;}

li { list-style-type: '🚀 '; font-size: 22px; }

h1 { font-size: 35px; text-align: center; color: red;
        text-decoration: underline double ;}
    
h2 { font-size: 25px; color: red; text-decoration: underline
        double;}

h3 { font-size: 25px; color: red; text-decoration: underline
                double;} 
    
p { font-size: 22px; color: white; }

#divíndice { width: 30%; background-image: url(Fondo\ papel.jpg); border:
        solid red 3px; margin: auto; text-align: center;}

#divvideo { display: flex; }
#video { width: 70%; margin: auto; }
        
#media { display:flex; justify-content: center; }

img { width: 80%; border: solid yellow 2px; }

#mapa { text-align: center; color: red; text-decoration: underline double; }

#arriba { border: solid 2px white; width: 60px; display:
        scroll; position: fixed; bottom: 150px; right: 10px;}

#regresar { border: solid 2px white; width: 60px; display:
        scroll; position: fixed; bottom: 80px; right: 10px;}

#menú { border: solid 2px white; width: 60px; display:
        scroll; position: fixed; bottom: 10px; right: 10px;}